body,
div,
input,
select,
button {
  font-family: sans-serif;
}

body {
  margin: 0;
  padding: 0 20px;
}

main {
  display: grid;
  grid-template-columns: auto 300px;
}

.content {
  padding-right: 1em;
}

h1 {
  padding: 0 0.5rem;
  margin-bottom: 1rem;
}

label {
  font-size: 1rem;
  text-transform: capitalize;
  font-weight: 400;
}

select {
  background: #ddd;
}

.buttons-container {
  margin: 1rem 0;
}

.btn {
  display: inline-block;
  padding: 1rem 1.375rem;
  margin-right: 1rem;
  margin-top: 1rem;
  background-color: #ff7f50;
  color: #fff;
  border-radius: 0.25rem;
  font-weight: 400;
  font-size: 1.1rem;
  cursor: pointer;
  border: 2px solid transparent;
  outline: none;
  transition: 0.3s ease-out;
}

.btn:hover,
.btn:focus {
  background-color: #0000;
  border-color: #ff7f50;
  color: #ff7f50;
}

.input-holder {
  display: inline-block;
  margin-bottom: 0.875rem;
  padding: 0.625rem;
  max-width: 100%;
  background-color: #fff;
  box-shadow: 0 6px 12px #0002;
  border-radius: 0.25rem;
}

.input {
  display: inline-block;
  padding: 0.375rem 0.5rem;
  border: 2px solid #d4d6d5;
  border-radius: 0.25rem;
  outline: none;
  font-size: 0.9rem;
}

.input:focus {
  border: 2px solid #ff7f50;
}

#wrap {
  margin-top: 1rem;
}

canvas {
  width: 100%;
  height: 260px;
  background: #fff;
}
