body, div, input, select, button {
    font-family: sans-serif;
}

body {
    margin: 0;
    padding: 0 20px;
}

main {
    display: grid;
    grid-template-columns: auto 300px;
}

.content {
    padding-right: 1em;
}

h1{
    padding:0 0.5rem ;
    margin-bottom: 1rem;
}

label {
    font-size: 1rem;
    text-transform: capitalize;
    font-weight: 400;
}

select{
    background: #ddd;
}

.buttons-container{
    margin: 1rem 0;
}

.btn{
    display: inline-block;
    padding: 1rem 1.375rem ;
    margin-right: 1rem;
    margin-top: 1rem;
    background-color: #FF7F50;  /* coral color*/
    color: #fff;
    border: 0px;
    border-radius: .25rem;
    font-weight: 400;
    font-size: 1.1rem;
    text-transform: capitalize;
    cursor: pointer;
    border: 2px solid transparent;
    outline: none;
    transition: 0.3s ease-out;
    text-decoration: none;
}

.btn:hover,.btn:focus{
    background-color: #0000;
    border-color: #FF7F50;
    color: #FF7F50;
}

.input-holder{
    margin-bottom: .875rem ;
    display: inline-block;
    /* white-space:nowrap; */
    box-shadow: 0 6px 12px #0002;
    padding: 0.625rem;
    border-radius: 0.25rem;
    max-width: 100%;
    background-color: #fff
}

.input{
    padding: 0.375rem 0.5rem;
    border: 2px solid #d4d6d5 ;
    border-radius: 0.25rem;
    outline: none;
    display: inline-block;
    font-size: .9rem;
}

.input:focus{
    border: 2px solid #FF7F50;
}

#wrap{
    margin-top: 1rem;
}

canvas{
    width: 100%;
    height: 260px;
    background: #fff;
}

hr {
    margin: 20px 0;
}

.link-to-github{
    padding: 0.5rem 1rem;
    color: #fff;
    background-color: #6E24B2;
    text-decoration: none;
    border-radius: 0.25rem;
    position: absolute;
    right: 20px;
    top: 20px;
}
